@page
@using psyrdv.Data
@model AddBookingModel
@{
    ViewData["Title"] = "Nouveau Rendez-Vous";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center">@ViewData["Title"]</h2>
    
    <form method="post" class="mx-auto" style="max-width: 500px;">
        <div class="mb-3">
            <label asp-for="Booking.PatientId" class="form-label">Patient</label>
            <select asp-for="Booking.PatientId" class="form-select">
                <option value="">Sélectionnez un patient</option>
                @foreach (var patient in Model.Patients)
                {
                    <option value="@patient.Id">@patient.FirstName @patient.LastName</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Booking.Date" class="form-label">Date</label>
            <input asp-for="Booking.Date" class="form-control" type="date" />
        </div>
        <div class="mb-3">
            <label asp-for="Booking.Start" class="form-label">De</label>
            <input asp-for="Booking.Start" class="form-control" type="time" />
        </div>
        <div class="mb-3">
            <label asp-for="Booking.End" class="form-label">A</label>
            <input asp-for="Booking.End" class="form-control" type="time" />
        </div>
        <div class="mb-3">
            <label asp-for="Booking.Details" class="form-label">Détails</label>
            <textarea asp-for="Booking.Details" class="form-control" rows="3"></textarea>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            <a asp-page="./Bookings" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>