@page
@model AddOfficeModel
@{
    ViewData["Title"] = "Nouveau Cabinet";
}

<h1>Nouveau Cabinet</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Office.Name"></label>
        <input asp-for="Office.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Office.Address"></label>
        <input asp-for="Office.Address" class="form-control" />
    </div>
   
    <button type="submit" class="btn btn-primary mt-3">Sauvegarde</button>
    <a asp-page="./Offices" class="btn btn-secondary mt-3">Annuler</a>
</form>