@page
@model OfficesModel
@{
    ViewData["Title"] = "Cabinets";
}

<h1>Cabinets</h1>

<p>
    <a class="btn btn-primary" asp-page="AddOffice">Nouveau Cabinet</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Addresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var office in Model.Offices)
        {
            <tr>
                <td>@office.Name</td>
                <td>@office.Address</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="./EditOffice" asp-route-id="@office.Id">Modifier</a>
                    <a class="btn btn-danger btn-sm" asp-page="./DeleteOffice" asp-route-id="@office.Id">Suprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>